---
---

<aside class='bg-white h-screen'>
	<h2 class='text-center py-5'>Prompt History</h2>
	<hr class='border-[1px] border-black drop shadow-xl' />
	<ul class='p-4'>
		<li>remove all letters 'a' from a string</li>
	</ul>
</aside>
